* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; font-family: Arial, sans-serif; }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #015c5d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    background-color: #017d7e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}
thead {
    background-color: rgba(42, 40, 40, 0.5);
}

tbody tr:nth-child(even) {
    background-color: rgba(42, 40, 40, 0.1);
}

.prescription-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    text-align: center;
}   

.noPatientRecords {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}
